
<!-- Container (Pricing Section) -->
<p style="page-break-after: always;">&nbsp;</p>
<p style="page-break-before: always;">&nbsp;</p>

<div class="container-fluid">
  <div class="text-center">
    <h2> MINING PACK PRICING </h2>
    <h4>Choose a payment plan that works for you</h4>
  </div>

<p style="page-break-after: always;">&nbsp;</p>
<p style="page-break-after: always;">&nbsp;</p>

  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h2>Pick Axe</h2>
          <h2> Silver </h2>
        </div>
        <div class="panel-body">
        	<h2>$30</h2>
        </div>
        <div class="panel-footer">
          <p><strong>163 GH/s</strong> Hash Power</p>
          <p><strong></strong> Life time Mining</p>
          <p><strong></strong> Electricity fee</p>
          
      </div>
      <div>
          <button class="btn btn-lg">SELECT</button>
        </div>
      </div> 
    </div>
   <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h2>Pick Axe</h2>
          <h2> Gold </h2>
        </div>
        <div class="panel-body">
        	<h2>$300</h2>
        </div>
        <div class="panel-footer">
          <p><strong>1.63 TH/s</strong> Hash Power</p>
          <p><strong></strong> Life time Mining</p>
          <p><strong></strong> Electricity fee</p>
          
      </div>
      <div>
          <button class="btn btn-lg">SELECT</button>
        </div>
      </div> 
    </div>
   <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h2>Pick Axe</h2>
          <h2> Platinum </h2>
        </div>
        <div class="panel-body">
        	<h2>$1000</h2>
        </div>
        <div class="panel-footer">
          <p><strong>5.433 TH/s</strong> Hash Power</p>
          <p><strong></strong> Life time Mining</p>
          <p><strong></strong> Electricity fee</p>
          
      </div>
      <div>
          <button class="btn btn-lg">SELECT</button>
        </div>
      </div> 
    </div> 
  </div>
</div>