<body>

<div class="container home-container">
<div class="row">
<div class="col-md-8 col-sm-8">
<div class="home_text">
<div style="text-align: center;"><br><br><br><br>

<h1 text-align="left">Your own way of using Digital Wallet</h1>
</div>
<p>"Bitcoin India's mobile digital money wallet" provides new possibilities for the way we use money.</p>
<div class=" download-btn">
  <button type="button" color="yellow">
  <a class="btn home-btn wow fadeInLeft" target="_blank" style="margin-right:2%" href="https://play.google.com/store/apps/details?id=com.bitcoinindia.Btci&hl=en"><i class="fa fa-android"></i> ANDRIOD</a></button>
  <a style="text-transform:none" class="btn home-btn wow fadeInLeft" target="_blank" href="https://itunes.apple.com/in/app/bitcoin-india-wallet/id1230917514?mt=8"><i class="fa fa-apple"></i> iOS</a>
  <a class="tuor btn wow fadeInRight" href="#ABOUT">Take a tour <i class="fa fa-angle-down"></i></a>
  </div>
</div>
</div>
<div class="col-md-3 col-md-offset-1 col-sm-4">
<div class="home-iphone">

  <img src="/assets/iPhone_Home.png" width="280" height="580" right="50px">
</div>
</div>
</div>
</div>
</div>

<p style="page-break-after: always;">&nbsp;</p>
<p style="page-break-after: always;">&nbsp;</p>

<div style="background-color:WhiteSmoke;">

<section class="about page" id="ABOUT">
<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">

  
<div class="section_title">
  <font color="black" text-align="center">
<h2>Bitcoin India's mobile digital money wallet</h2><hr color="yellow">
<p>It's a single "Mobile Wallet" people can use for virtual secure payment tokens like Bitcoin (BTC), Ether (ETH), Litecoin (LTC), It works best with existing INR. and is tracked better via Banks.</p>
<p>We have taken those possibilities one step further by developing a convenient and secure way to let your money work for you.,</p></font>
</div>
</div>
</div>
</div>
<div class="inner_about_area">
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
<div class="col-md-3 col-md-offset-1 col-sm-4">
<div class="home-iphone">

  <img src="/assets/iPhone2.png" width="280" height="580" right="50px">
</div>
</div>
</div>
</div>
<font color="black" text-align="center">
<div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s" color="black">
  <div class="inner_about_title" >
<h2>Why we are best <br> for you</h2>
<p>Bitcoin India™ is the world’s most secure “Digital Mobile Wallet” provider in the Industry.</p>
</div>
<div class="inner_about_desc">

<div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">

<div><i class="pe-7s-phone"></i></div>

<h3>Mobile as “Digital Money Wallet”</h3>
<p>Your mobile is your “Digital Money Wallet” now, easy to carry your money.</p>
</div>


<div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">

<div><i class="pe-7s-wallet"></i></div>

<h3>Single mobile wallet for INR,BTC,ETH,LTC</h3>
<p>“Bitcoin India’s Digital Mobile Wallet” - A single mobile wallet where you can keep all your Money (INR - Indian Rupees) together with other “virtual secure payment tokens” like Bitcoin (BTC), Ethereum (ETH), and Litecoin (LTC).</p>
</div>


<div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="2s">

<div><i class="pe-7s-cash"></i></div>

<h3>Free to deposit funds</h3>
<p>It's Free to deposit funds to your Bitcoin India™ digital mobile wallet from your bank account.</p>
</div>

</div>
</div>
</div>
</div>
</div>
</font>


<p style="page-break-after: always;">&nbsp;</p>

  <font color="black" text-align="center">

<div class="video_area">
<div class="container">
<div class="row">
<div class="col-md-6 wow fadeInLeftBig">

<div class="video_title">
<h2>Best App <br>in the market</h2>
<p>Bitcoin India Wallet is an all-in-one “Mobile e-Wallet” that lets you securely complete payments via digital tokens, such as Bitcoin (BTC), Ether (ETH), Litecoin (LTC), and Dashcoin (DASH).</p>
<p>We accept INR, on both the web and mobile applications. Now, merchants can accept Bitcoin through our app and receive INR deposits daily. </p>
</div>
<div class="video-button">

<a class="btn btn-primary btn-video" href="#FEATURES" role="button">Features</a>
</div>
</div>
<div class="col-md-6 wow fadeInRightBig">

<div class="video">
<iframe src="https://player.vimeo.com/video/110874487?title=0&amp;byline=0&amp;portrait=0&amp;color=cc0000" width="560" height="315"></iframe>
</div>
</div>
</div>
</div>
</div>
</div>
</font>
</section>



<section class="subscribe parallax subscribe-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20" id="tbuy">
<div class="section_overlay wow lightSpeedIn">
<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">

<div class="section_title">
<h2>BUY & SELL - 100% SECURED</h2>
<p>A SEAMLESS WAY TO BUY/SELL BITCOINS; We've developed a new feature that allows you to buy bitcoins by transferring funds online from your internet banking. Now, you can secure, transact and buy bitcoins directly from our wallet or from the exchange/trading platform. It's a new standard of bitcoin security and fully insure your assets in the Vault in cold wallets, so that you can assured your money is 100% safe and sound.</p>
</div>

</div>
</div>
</div>
<div class="container">
<div class="row  wow lightSpeedIn">
<div class="col-md-6 col-md-offset-3">

<div class="subscription-success"></div>
<div class="subscription-error"></div>
 
<a class="btn btn-default subs-btn" href="https://bitcoin-india.org/buy_bitcoin">Buy Now</a>
<a class="btn btn-default subs-btn" href="https://bitcoin-india.org/sell_bitcoins/new">Sell Now</a>
</div>
</div>
</div>
</div>
</section><section id="FEATURES" class="features page">
<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">

<div class="section_title wow fadeIn" data-wow-duration="1s">
<h2>Features</h2>
<p>World’s Fastest, Secure, and Realtime Bitcoin Trading Platform 24/7 (cryptocurrency exchange for professional traders) is live now…</p>
</div>

</div>
</div>
</div>
<div class="feature_inner">
<div class="container">
<div class="row">
<div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">

<div class="left_single_feature">

<div><span class="pe-7s-wallet"></span></div>

<h3>Bitcoin<span>/</span></h3>
<p>Buy, Sell and Send Bitcoins from your PC / Mobile in a few clicks</p>
</div>


<div class="left_single_feature">

<div><span class="pe-7s-wallet"></span></div>

<h3>Ethereum<span>/</span></h3>
<p>Buy and Send Ethereum from your PC / Mobile in a few clicks</p>
</div>


<div class="left_single_feature">

<div><span class="pe-7s-wallet"></span></div>

<h3>Litecoin<span>/</span></h3>
<p>Buy and Send Litecoins from your PC / Mobile in a few clicks</p>
</div>

</div>
<div class="col-md-4">
<div class="feature_iphone">

<img class="wow bounceIn" data-wow-duration="1s" src="/assets/iPhone1.png" alt="">
</div>
</div>
<div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

<div class="right_single_feature">

<div><span class="pe-7s-cash"></span></div>

<h3><span>/</span>Indian Rupees</h3>
<p>Wallet with Inr balance, can deposite and withdraw in a easy way.</p>
</div>


<div class="right_single_feature">

 <div><span class="pe-7s-graph2"></span></div>

<h3><span>/</span>Exchange</h3>
<p>Trade your coins, Create your own orders at Echange.</p>
</div>


<div class="right_single_feature">

<div><span class="pe-7s-medal"></span></div>

<h3><span>/</span>Mining</h3>
<p>Bitcoin India™ Pool is the most reliable &amp; transparent bitcoin mining pool. Offering low fees,Guaranteed payments &amp; detailed statistics.</p>
</div>

</div>
</div>
</div>
</div>
</section>
<section class="subscribe1">
<div class="container">
<div class="row">
<div class="col-md-12">

<div class="section_title">
<h2>Login / Join</h2>
</div>

<div id="tjoin">
<div class="contact-parlex">

<div class="col-md-6">
<div class="panel panel-login panel_height">
<div class="panel-heading" style="background-color:#EA9610">
<div class="row">
<div class="col-xs-12">
<a href="javascript:void(0)" style="color:#fff;padding:10px">Sign in with a social network</a>
</div>
</div>
<hr>
</div>
<div id="oa_social_login_container" data-processed="true" style="min-height: 495px;"><iframe id="oa_social_login_frame_55293" frameborder="0" scrolling="no" allowtransparency="true" data-processed="true" title="Login with Social Networks" name="OneAll Social Login" src="https://bitcoinindia.api.oneall.com/socialize/login/frame/?oakk=55293&amp;oakv=c7612ca99ccef3717feae9636d903b2d8263deb67902b49a8a261a9c39e8359c1d5f7d5c8cb75cb4f6eab898ecc52ab2242a521659062aefd5df5ef7a05c74298c4a48dac0dc2228c1039f610e272a738bf3999a578f5c0f127ffc90174a38f32e208f69e8f80c7e810012a1c966967321481854062026a6aa191122aab0c6e96732c4d8f14ccfca6acd40c9e19bb7499f6572ee734b297ca20962b4ec2ad19831d5c8dde72bb9ec8e8028929d1f8adeefb37fbd993f9e882a7a6c60b10c47d236b1baf5457bf4893810e6a76241dbf704ce1b845406b3588b8355231a4050ec7fbe27ceb88e5ce05cdf2ce58be3428d0d2e764f52d12bdc55d07f0827239456921a089516b9f1a5862a8c06e3e90d70fa125c07512dcca3bdd23cdb296036374b8daeb2430ef14ea72b78e2fb8308818e2c68827d0cc7ced336e6dcbf5546d936317768d00b1e7c94457936714da1f2034d699dd43ecbaad190646e89d4a3a9e4234e69d79f530c6af1f1c691af89ae2c252c9852ca71ec1afd98603938b5f92e44ae6c3b0e0501957d474984cda0e14f7a89404556f06eb5a80a5d6b2b2564f8e9360ce90945682bf5646d5bbdaf08f5d7a59828c1fca9ca1a6b25d42b5fccd5204746a29aed7c61c0ecafd6aff99f5ae3262b5986949548fcf142faf711d3b08c4a2018319487bc3b480c983c4a84fde5ac9d4cf2fd3960427a4e72c6e6da60eb54fd3863fc8364018c8d39080302746f9ea9f82369f6069cb88b0774460d30e5896c571a79e45ff67b8e5a211dfd9e6ce5428852aab4cb8ae0&amp;lang=en" style="border: 0px none; width: 429px; height: 495px; background-color: transparent;"></iframe></div>
</div>
</div>
<div class="col-md-6">
<div class="panel panel-login panel_height">
<div class="panel-heading">
<div class="row">
<div class="col-xs-6">
<a href="#" id="login-form-link" style="background-color:#EA9610;color:#fff;padding:10px 50px 10px 50px">Login</a>
</div>
<div class="col-xs-6">
<a href="#" id="register-form-link" style="color:#EA9610;padding:10px 50px 10px 50px">Register</a>
</div>
<script type="text/rocketscript" data-rocketoptimized="true">
$(function() {

    $('#login-form-link').click(function(e) {
    $("#login-form").delay(100).fadeIn(100);
    $("#register-form").fadeOut(100);
    $('#register-form-link').removeClass('active');
    $(this).addClass('active');
    $(this).css('background-color','#EA9610');
    $(this).css('color','#fff');
    $('#register-form-link').css('background-color','#fff');
    $('#register-form-link').css('color','#EA9610');
    e.preventDefault();
  });
  $('#register-form-link').click(function(e) {
    $("#register-form").delay(100).fadeIn(100);
    $("#login-form").fadeOut(100);
    $('#login-form-link').removeClass('active');
    $(this).addClass('active');
    $(this).css('background-color','#EA9610');
    $(this).css('color','#fff');
    $('#login-form-link').css('background-color','#fff');
    $('#login-form-link').css('color','#EA9610');
    e.preventDefault();
  });

});
</script>
</div>

<hr>
</div>
<div class="panel-body">
<div class="row">
<div class="col-lg-12">
<form id="login-form" style="display: white;" class="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="rxum+eARsAUyDJu3ad+flMz3JPIVDkbG3qMQl3iHGloVw1NVzvM4CVhDRH0tYUqG7+7I7pHovQ6IoAc4d/X9DQ==">
<input type="hidden" name="authenticity_token" id="authenticity_token" value="rxum+eARsAUyDJu3ad+flMz3JPIVDkbG3qMQl3iHGloVw1NVzvM4CVhDRH0tYUqG7+7I7pHovQ6IoAc4d/X9DQ=="> <div class="form-group">
<input class="w-input form-control" placeholder="Email" type="email" value="" name="user[email]" id="user_email">
</div>
<div class="form-group">
<input class="form-control w-input" autocomplete="off" placeholder="Password" type="password" name="user[password]" id="user_password">
<span id="recaptcha1" style="padding: 3px;"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?k=6LeCPhkUAAAAADFfvZ_nL4JggrHytyYJp2sNyrMc&amp;co=aHR0cHM6Ly9iaXRjb2luLWluZGlhLm9yZzo0NDM.&amp;hl=en&amp;v=r20171031153338&amp;theme=clean&amp;size=normal&amp;cb=jmvvnbdbby2o" width="304" height="78" role="presentation" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; ">
<script type="text/rocketscript" data-rocketoptimized="true">
      var recaptcha1;
      var recaptcha2;
      var myCallBack = function() {
        //Render the recaptcha1 on the element with ID "recaptcha1"
        recaptcha1 = grecaptcha.render('recaptcha1', {
          'sitekey' : '6LeCPhkUAAAAADFfvZ_nL4JggrHytyYJp2sNyrMc', 
          'theme' : 'clean'
        });
        
        //Render the recaptcha2 on the element with ID "recaptcha2"
        recaptcha2 = grecaptcha.render('recaptcha2', {
          'sitekey' : '6LeCPhkUAAAAADFfvZ_nL4JggrHytyYJp2sNyrMc',
          'theme' : 'clean'
        });
      };
</script></textarea></div></span>
<span>
<label style="margin-top: 20px;">
<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
Remember Me
</label>
</span>
</div>
 <div class="form-group">
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
</div>
</div>
</div>
<div class="form-group">
<div class="row">
<div class="col-lg-12">
<div class="text-center">
<a class="forgot-password" href="/users/password/new">Forgotten your password?</a>
</div>
</div>
</div>
</div>
</form> <form id="register-form" style="display: none;" class="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="rxum+eARsAUyDJu3ad+flMz3JPIVDkbG3qMQl3iHGloVw1NVzvM4CVhDRH0tYUqG7+7I7pHovQ6IoAc4d/X9DQ==">
<input type="hidden" name="authenticity_token" id="authenticity_token" value="rxum+eARsAUyDJu3ad+flMz3JPIVDkbG3qMQl3iHGloVw1NVzvM4CVhDRH0tYUqG7+7I7pHovQ6IoAc4d/X9DQ=="> <input type="hidden" name="user[last_sign_in_ip]" value="103.67.153.254">
<div class="form-group">
<input id="fname" required="required" placeholder="First Name" class="w-input form-control firstname" type="text" name="user[firstname]">
</div>
<div class="form-group">
<input id="lname" required="required" placeholder="Last Name" class="w-input form-control lastname" type="text" name="user[lastname]">
</div>
<div class="form-group">
<input id="email" required="required" placeholder="Email Address" class="w-input form-control" type="email" value="" name="user[email]">
</div>
<div class="form-group">
<input required="required" id="password" placeholder="Password" class="w-input form-control" type="password" name="user[password]">
<input type="text" name="user[mobile_number]" placeholder="Mobile Number" class="w-input form-control" id="mobile_number" style="margin-top:3%;">
<input type="text" name="ref_id" placeholder="Referral Code (optional)" class="w-input form-control" value="" style="margin-top:3%;">
<span id="recaptcha2" style="padding: 3px;"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?k=6LeCPhkUAAAAADFfvZ_nL4JggrHytyYJp2sNyrMc&amp;co=aHR0cHM6Ly9iaXRjb2luLWluZGlhLm9yZzo0NDM.&amp;hl=en&amp;v=r20171031153338&amp;theme=clean&amp;size=normal&amp;cb=8jfsme8z7z7v" width="304" height="78" role="presentation" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response-1" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; "></textarea></div></span>
<span>
<label style="margin-top: 2px;">
<input type="checkbox" required="required" name="terms" id="terms">
By registering you agree to our <a href="/terms_of_service">terms of service</a>, <a href="/privacy_policy">privacy policy</a> and <a href="/privacy_policy#cookie_policy">cookie policy</a> </label>
</span>
</div>
<div class="form-group">
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
</div>
</div>
</div>
</form> </div>
</div>
</div>

</div>
</div>
</div>
</section>
<section class="fun_facts parallax">
<div class="section_overlay">
<div class="container">
<div class="row text-center">
<div class="col-md-3">
<ul class="footer-list">
<li>
<a href="#" title="products"><b>Products</b></a>
</li>
<li>
<a href="/exchange" target="_blank" title="Exchange">Exchange</a>
</li>
<li>
<a href="https://play.google.com/store/apps/details?id=com.bitcoinindia.Btci&amp;hl=en" target="_blank" title="Mobile App">Mobile App</a>
</li>
<li>
<a href="/buy_bitcoin" title="Buy/Sell Bitcoin">Buy/Sell Bitcoin</a>
</li>
<li>
<a href="/buy_ethers/new" title="Buy/Sell Ethereum">Buy/Sell Ethereum</a>
</li>
<li>
<a href="/buy_litecoins/new" title="Buy/Sell Litecoin">Buy/Sell Litecoin</a>
</li>
<li>
<a href="/buy_dashcoins/new" title="Buy/Sell Dash">Buy/Sell Dash</a>
</li>
<li>
<a href="/coin_swap" target="_blank" title="Coin Swap">Coin Swap Instantly</a>
</li>
<li>
<a href="/merchant" target="_blank" title="care@bitcoin-india.org">Merchant Tools</a>
</li>
<li>
<a href="/mining" target="_blank" title="Hosted Mining">Hosted Mining</a>
</li>
<li>
<a href="/club" target="_blank" title="Club Membership">Club Membership</a>
</li>
<li>
<a href="/mining" target="_blank" title="Buy a Bitcoin Miner">Buy a Bitcoin Miner</a>
</li>

<li>
<a href="/mining_pack_pricing" target="_blank" title="Mining Packs (PickAxe)">Mining Packs (PickAxe)</a>
</li>
<li>
<a href="https://pool.bitcoin-india.org" target="_blank" title="Bitcoin India Mining Pool">Bitcoin India Mining Pool</a>
</li>
<li>
<a href="/exchange_solutions" target="_blank" title="Exchange Software License">Exchange Software License</a>
</li>
</ul>
</div>
<div class="col-md-3">
<ul class="footer-list">
<li>
<a href="#" title="Company"><b>Company</b></a>
</li>
<li>
<a href="https://bitcoin.zendesk.com/hc/en-us/articles/115001410209-About-Bitcoin-INDIA-company" target="_blank" title="About">About</a>
</li>
<li>
<a href="/jobs/jobs-at-bitcoin-india" target="_blank" title="jobs">Jobs</a>
</li>

<li>
<a href="/press_releases" target="_blank" title="Press">Press</a>
</li>
<li>
<a href="https://www.coindesk.com/rootstocks-merge-mining-advances-bitcoin-smart-contracts-effort/" target="_blank" title="News">News in Media</a>
</li> 
<li>
<a href="/customer_support" target="_blank">Contact Us</a>
</li>
<li>
<a href="/legal" title="Legal" target="_blank">Legal</a> &amp; <a href="/privacy_policy" target="_blank" title="Privacy &amp; Policy">Privacy</a>
</li>

<li>
<a href="/kyc_aml_policy" target="_blank" title="KYC &amp; AML POLICY">KYC &amp; AML POLICY</a>
</li>

<li>
<a href="/rbi_caution_notes" target="_blank" title="RBI caution notes">RBI caution notes</a>
</li>
<li>

</li><li>
<a href="http://www.bitcoinindiafoundation.org/" target="_blank">Bitcoin India Foundation</a>
</li>
</ul>
</div>
<div class="col-md-3">
<ul class="footer-list">
<li>
<a href="#" title="Learn"><b>Learn</b></a>
</li>
<li>
<a href="https://bitcoin.zendesk.com/hc/en-us/sections/115000012969-FAQ" target="_blank" title="FAQ's">FAQ's</a>
</li>
<li>
<a href="https://bitcoin.zendesk.com/hc/en-us/articles/115000061869-What-is-Bitcoin-" target="_blank" title="What is Bitcoin">What is Bitcoin</a>
</li>
<li>
<a href="https://bitcoin.zendesk.com/hc/en-us/articles/115002936589-What-is-Ethereum" target="_blank" title="What is Ethereum">What is Ethereum</a>
</li>
<li>
<a href="https://bitcoin.zendesk.com/hc/en-us/articles/115002936609-What-is-Litecoin" target="_blank">What is Litecoin</a>
</li>
<li>
<a href="https://bitcoin.zendesk.com/hc/en-us/articles/115002945025-What-is-Dashcoin" target="_blank" title="What is Dash">What is Dash</a>
</li>
<li>
<a href="https://bitcoin.zendesk.com/hc/en-us/articles/115000077805-Are-there-any-fees-in-your-site-" target="_blank" title="Fees Schedule">Fees Schedule</a>
</li>

<li>
<a href="https://bitcoin.zendesk.com/hc/en-us/articles/115002945065-What-is-Bitcoin-Mining" target="_blank" title="What is Bitcoin Mining">What is Bitcoin Mining</a>
</li>

<li>
<a href="https://bitcoin.zendesk.com/hc/en-us/articles/115002936629-What-is-Bitcoin-Exchange" target="_blank" title="What is Bitcoin Exchange">What is Bitcoin Exchange</a>
</li>
<li>
<a href="https://alloscomp.com/bitcoin/calculator" target="_blank" title="Bitcoin mining profit calculator">Bitcoin mining profit calculator</a>
</li>
</ul>
</div>
<div class="col-md-3">

<img style="text-align:left; margin-left:-45%;"
<div class="scroll_top" style="margin-left: -45%; margin-top: 5%">
<a target="_blank" href="https://www.facebook.com/Bitcoin.India.Org"><i class="fa fa-facebook"></i></a>
<a target="_blank" href="https://twitter.com/BTC_india"><i class="fa fa-twitter"></i></a>
<a target="_blank" href="https://www.linkedin.com/company/bitcoin-india"><i class="fa fa-linkedin"></i></a>
</div>
</div>
</div>
</div>
</div>
</section>
<iframe data-reactroot="" id="launcher" tabindex="0" class="zEWidget-launcher zEWidget-launcher--active" style="border: none; background: transparent; z-index: 999998; transform: translateZ(0px); position: fixed; opacity: 1; right: 0px; bottom: 0px; width: 139px; height: 48px; margin: 10px 20px; transition-property: opacity, width, height, bottom; transition-timing-function: ease-out; transition-duration: 300ms;"></iframe>
</body>












<!--
<p style="page-break-after: always;">&nbsp;</p>
<p style="page-break-after: always;">&nbsp;</p>
<p style="page-break-after: always;">&nbsp;</p>



<p style="page-break-after: always;">&nbsp;</p>
<p style="page-break-before: always;">&nbsp;</p>
<p style="page-break-before: always;">&nbsp;</p>
<p style="page-break-before: always;">&nbsp;</p>
<p style="page-break-before: always;">&nbsp;</p>








